/* 
 * Fluid type scale
 * https://www.fluid-type-scale.com/calculate?minFontSize=16&minWidth=320&minRatio=1.25&maxFontSize=20&maxWidth=1440&maxRatio=1.4&steps=tiny%2Csmall%2Cmedium%2Clarge%2Chuge%2Cgigantic%2Cenormous&baseStep=medium&prefix=font-size&decimals=3&useRems=on&remValue=16&previewFont=Inter&previewText=Almost+before+we+knew+it%2C+we+had+left+the+ground&previewWidth=1920
 */
:root {
    --font-family-primary: sans-serif;

    --border-radius: 0.5rem;

    --color--white: #fff;
    --color--black: #232323;
    --color--gray: #555;
    --color--gray-dark: #424242;
    --color--gray-light: #dbdbdb;
    --color--primary: #f65261;
    --color--secondary: #7c44fc;

    --font-size-tiny: clamp(0.8rem, 0.13vw + 0.77rem, 0.89rem);
    --font-size-small: clamp(1rem, 0.36vw + 0.93rem, 1.25rem);
    --font-size-medium: clamp(1.25rem, 0.71vw + 1.11rem, 1.75rem);
    --font-size-large: clamp(1.56rem, 1.27vw + 1.31rem, 2.45rem);
    --font-size-huge: clamp(1.95rem, 2.11vw + 1.53rem, 3.43rem);
    --font-size-gigantic: clamp(2.44rem, 3.37vw + 1.77rem, 4.8rem);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:focus-visible {
    outline: 2px solid var(--color--primary);
}

.docs-story,
body {
    font-family: var(--font-family-primary);
    color: var(--color--white);
    line-height: 1;
    font-size: 16px;
    background: var(--color--black);
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
    padding-block-end: 1rem;
}

p {
    line-height: 1.5;
}

small {
    font-size: var(--font-size-tiny);
}

button {
    border: none;
    width: auto;
    overflow: visible;
    cursor: pointer;
    background: transparent;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
}

ul {
    margin-inline-start: 2rem;
}

ol {
    margin-inline-start: 2rem;
    li {
        list-style: decimal;
    }
}

a {
    color: var(--color--primary);
}

@media (prefers-color-scheme: dark) {
    body {
        color: #fff;
    }
}

/* Utilities
_    _ _______ _____ _      _____ _______ _____ ______  _____ 
| |  | |__   __|_   _| |    |_   _|__   __|_   _|  ____|/ ____|
| |  | |  | |    | | | |      | |    | |    | | | |__  | (___  
| |  | |  | |    | | | |      | |    | |    | | |  __|  \___ \ 
| |__| |  | |   _| |_| |____ _| |_   | |   _| |_| |____ ____) |
 \____/   |_|  |_____|______|_____|  |_|  |_____|______|_____/ 
 */
.u-text-align--center {
    text-align: center;
}

/* Forms
______ ____  _____  __  __  _____ 
|  ____/ __ \|  __ \|  \/  |/ ____|
| |__ | |  | | |__) | \  / | (___  
|  __|| |  | |  _  /| |\/| |\___ \ 
| |   | |__| | | \ \| |  | |____) |
|_|    \____/|_|  \_\_|  |_|_____/                                 
 */
label {
    font-weight: bold;
    display: flex;
    cursor: pointer;
    font-size: 1rem;
}

legend {
    display: table;
    padding: 0;
    margin: 0;
    font-weight: bold;
    font-size: 1rem;
}

fieldset {
    border: 0;
    padding: 0;
    min-width: 0;
    margin: 0 0 0.5rem;

    p {
        margin-block: 0.5rem;
    }
}
input[type='text'],
input[type='email'],
input[type='tel'],
input[type='number'],
input[type='date'],
input[type='password'],
select,
textarea {
    appearance: none;
    border: 1px solid gray;
    background: white;
    border-radius: 8px;
    height: 48px;
    padding: 7px;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-family-primary);
    font-size: 1rem;
}

select {
    background-image: linear-gradient(45deg, transparent 50%, gray 50%),
        linear-gradient(135deg, gray 50%, transparent 50%), linear-gradient(to right, #ccc, #ccc);
    background-position:
        calc(100% - 20px) calc(50% - 1px),
        calc(100% - 15px) calc(50% - 1px),
        calc(100% - 2.5em) 50%;
    background-size:
        5px 5px,
        5px 5px,
        1px 1.5em;
    background-repeat: no-repeat;
    padding-right: 3rem;
}

input[type='checkbox'],
input[type='radio'] {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: 1px solid var(--color--gray);
    transition: all 0.15s ease-out;
    min-width: 16px;
    height: 16px;
    position: relative;
    margin-inline-end: 0.5rem;
    margin-block-start: 0.25rem;

    &:checked {
        border-color: var(--color--primary);
        color: var(--color--primary);
    }

    &:hover {
        cursor: pointer;
    }

    & + span {
        font-weight: normal;
        display: inline-flex;
        max-width: calc(100% - 30px);
        vertical-align: top;
        margin-left: 0; // override hubspot form style
    }

    // both checkboxes and radios!
    &::after {
        position: absolute;
        left: 50%;
        top: 50%;
        content: '';
        display: block;
        transition: all 0.15s ease-out;
        opacity: 0;
    }
}

input[type='checkbox'] {
    border-radius: 2px;
    &:after {
        height: 30%;
        width: 50%;
        border: solid var(--color--white);
        border-width: 0 0 1px 1px;
        transform: translate3d(-50%, -50%, 0) rotate(-45deg) scale(0);
    }
    &:checked {
        background: var(--color--primary);
    }
    &:checked::after {
        opacity: 1;
        transform: translate3d(-50%, -70%, 0) rotate(-45deg);
    }
}

input[type='radio'] {
    border-radius: 50%;
    &::after {
        border-radius: 50%;
        background: var(--color--primary);
        height: 60%;
        width: 60%;
        transform: translate3d(-50%, -50%, 0) scale(0);
    }
    &:checked::after {
        opacity: 1;
        transform: translate3d(-50%, -50%, 0);
    }
}
